
body { font-family: 'TUM Neue Helvetica', 'Arial', sans-serif; color: #47484D; font-size: 1.2rem;}
h1, h2 { font-family: 'TUM Neue Helvetica', 'Arial', sans-serif; }
h3{ font-family: 'TUM Neue Helvetica', 'Arial', cursive; }

.remark-code, .remark-inline-code {font-family: 'Source Code Pro', 'Lucida Console', Monaco, monospace; }
  